/*
---
name: Paragraph
category: body
---

```html
<p>
The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
</p>
```
*/

/*
---
name: Heading
category: body
---

```html
<h1>Heading1</h1>
<h2>Heading2</h2>
<h3>Heading3</h3>
<h4>Heading4</h4>
<h5>Heading5</h5>
<h6>Heading6</h6>
```

*/

/*
---
name: Header
category: layout/header
tag:
  - deprecated
---

```html
<header class="aigis-header">
  <a href="#">Styleguide</a>
</header>
```

*/
.aigis-header {
  line-height: 1.5em;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #152935;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.aigis-logo {
  display: block;
}

.aigis-logo img {
  max-width: 100%;
}

.aigis-header a {
  text-decoration: none;
  color: inherit;
}

.aigis-title {
  margin: 0;
  font-size: 35px;
  height: 100%;
}

.aigis-category {
  color: #5a6872;
  margin: 4rem 0 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.aigis-title:first-letter {
  text-transform: uppercase;
}

/*
---
name: Footer
category: layout/footer
tag: latest
---

```html
<footer class="aigis-footer">Last update at 2016/03/23 20:48</footer>
```

*/
.aigis-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 16px;
}

/*
---
name: Preview
category: body
tag: latest
---

```html
<div class="aigis-preview">
  <a class="ex-ag-btn">Button</a>
  <button class="ex-ag-btn ex-ag-btn--primary">Button</button>
</div>
```

*/

.aigis-codeblock {
  overflow: scroll;
}

.aigis-codeblock, .aigis-preview {
  position: relative;
  margin: 0;
}

.ex-ag-btn {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  background-color: #F8F9FB;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  line-height: 40px;
  min-width: 200px;
  font-size: 20px;
  box-sizing: border-box;
}

.ex-ag-btn--primary {
  color: black;
  background-color: #FFEA3A;
}

/*
---
name: Codeblock
category: body
tag: latest
---

```html
<pre><code class="lang-html"><pre class="editor editor-colors"><div class="line"><span class="text html gohtml"><span class="meta tag block any html"><span class="punctuation definition tag begin html"><span>&lt;</span></span><span class="entity name tag block any html"><span>div</span></span><span>&nbsp;</span><span class="entity other attribute-name html"><span>class</span></span><span>=</span><span class="string quoted double html"><span class="punctuation definition string begin html"><span>"</span></span><span>aigis-header</span><span class="punctuation definition string end html"><span>"</span></span></span><span class="punctuation definition tag end html"><span>&gt;</span></span></span></span></div><div class="line"><span class="text html gohtml"><span>&nbsp;&nbsp;hoge</span></span></div><div class="line"><span class="text html gohtml"><span class="meta tag block any html"><span class="punctuation definition tag begin html"><span>&lt;/</span></span><span class="entity name tag block any html"><span>div</span></span><span class="punctuation definition tag end html"><span>&gt;</span></span></span></span></div></pre>
</code></pre>
```

*/
.aigis-module pre {
  background-color: #272822;
  color: #f8f8f2;
  font-size: 14px;
  position: relative;
  padding: 0.5em;
  border-radius: 3px;
  margin: 0 auto 40px;
  overflow: scroll;
  border: 1px solid #A0A0A0;
}


.aigis-preview {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  padding: 50px;
  margin: 10px 0 40px;
}

.aigis-code-content.active .aigis-preview {
  margin-bottom: 0;
}

.aigis-preview--full {
  padding: 0;
}

pre {
  display: none;
}

.aigis-code-content.active pre{
  display: block;
  max-height: 500px;
}

.aigis-preview + pre {
  border-radius: 0 0 3px 3px;
  border-top: none;
  margin-top: 0;
}

/*
---
name: Sidemenu
category: layout/sidemenu
tag: latest
---

```html
<div class="aigis-sidemenu">
  <header class="aigis-header">
    <a href="../../index.html">Styleguide</a>
  </header>
  <h2 class="aigis-sidemenu__heading">Category</h2>
  <nav class="aigis-categoryList">

  </nav>
  <h2 class="aigis-sidemenu__heading">Tag</h2>
  <nav class="aigis-tags aigis-tagList">

  </nav>
  <h2 class="aigis-sidemenu__heading"><a href="../../color.html">All Colors</a></h2>
</div>
```

*/

.aigis-sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  box-sizing: border-box;
  background-color: #fff;
  color: #152935;
  height: 100%;
  transition: left .2s ease-out;
  overflow-y: scroll;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.aigis-container.close .aigis-sidemenu {
  left: -100%;
}

.aigis-sidemenu__heading {
  font-size: 20px;
  margin: 12px 0;
  color: #152935;
  font-weight: normal;
  padding-left: 10px;
  line-height: 1em;
}

.aigis-sidemenu__heading a {
  color: inherit;
  text-decoration: none;
}

.aigis-preview .aigis-sidemenu {
  position: relative;
}

/*
---
name: Category list
category: layout/sidemenu
tag: latest
---

```html
<h2 class="aigis-sidemenu__heading">Category</h2>
<nav class="aigis-categoryList">
  <ul data-path-depth="0">
    <li data-path-depth="0"><a href="#">body</a></li>
    <li data-path-depth="0"><a href="#">layout</a>
      <ul data-path-depth="1">
        <li data-path-depth="1"><a href="#">sidemenu</a></li>
      </ul>
    </li>
  </ul>
</nav>
```

*/

.aigis-categoryList li ul {
  display: none;
}

.aigis-categoryList ul {
  padding: 0;
  font-size: 14px;
  margin-left: 0;
}

.aigis-categoryList li {
  display: block;
}

.aigis-categoryList li a {
  display: block;
  position: relative;
  padding: 7px 10px 7px 25px;
  color: #152935;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  background: transparent;
  transition: .3s ease-out;
  text-indent: 0;
}

.aigis-categoryList li[data-path-depth="0"] > a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.aigis-categoryList li[data-path-depth="0"].current > a,
.aigis-categoryList li[data-path-depth="0"].current > a:hover {
  background-color: #f4f7fb;
  color: #152935;
}

.aigis-categoryList li[data-path-depth="0"].current ul {
  display: block;
}

.aigis-categoryList li a:hover {
  background-color: #F3F3F3;
  text-indent: 10px;
}

.aigis-categoryList li a:first-letter {
  text-transform: uppercase;
}

.aigis-categoryList li.active a:hover {
  background-color: #F8F9FB;
}

.aigis-categoryList li[data-path-depth="1"] a {
  padding-left: 40px;
}

.aigis-categoryList li[data-path-depth="2"] a {
  padding-left: 55px;
}

.aigis-categoryList li[data-path-depth="3"] a {
  padding-left: 70px;
}

.aigis-categoryList li[data-path-depth="4"] a {
  padding-left: 85px;
}

.aigis-categoryList li[data-path-depth] [data-tree-current],
.aigis-categoryList .current > a,
.aigis-categoryList .current > a:hover {
  background-color: #F8F9FB;
  color: #152935;
}

/*
---
name: Tag list
category: layout/sidemenu
tag: latest
---

```html
<nav class="aigis-tags aigis-tagList">
  <a class="aigis-tags__item aigis-tags__item--deprecated" href="#">deprecated</a>
  <a class="aigis-tags__item aigis-tags__item--latest" href="#">latest</a>
</nav>
```

*/
.aigis-tags {
  padding: 10px;
  padding-left: 0;
  margin: 0;
}

.aigis-tags__item {
  display: inline-block;
  border-radius: 1px;
  margin: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  padding: 3px 5px;
  background-color: #454545;
  color: #fff;
  text-decoration: none;
}

.aigis-tags__item--deprecated {
  background-color: #ff4f4f;
  color: #fff;
}

.aigis-tags__item--latest {
  background-color: #00c655;
  color: #fff;
}

.aigis-tags.aigis-tagList {
  padding-left: 10px;
}

/*
---
name: Module list
category: body
tag: latest
---

```html
<nav>
  <h2 class="aigis-module__heading">Modules</h2>
  <ul class="aigis-moduleList">
    <li class="aigis-moduleList__item">
      <a href="#header">header</a>
    </li>
    <li class="aigis-moduleList__item">
      <a href="#sidemenu">sidemenu</a>
    </li>
    <li class="aigis-moduleList__item">
      <a href="#category list">category list</a>
    </li>
    <li class="aigis-moduleList__item">
      <a href="#tags">tags</a>
    </li>
  </ul>
</nav>
```

*/
.aigis-moduleList {
  line-height: 1.6;
  font-size: 16px;
}

.aigis-moduleList__item a {
  color: #08f;
  text-decoration: none;
}

.aigis-moduleList__item a:hover {
  text-decoration: underline;
}

.aigis-moduleList__item::first-letter {
  text-transform: uppercase;
}

.aigis-module__heading {
  padding: 1rem 0 0;
  font-size: 23px;
  line-height: 1.225;
  position: relative;
}

.aigis-module__heading::before {
  background-color: #3057d5;
  content: "";
  display: block;
  height: .3rem;
  left: 0;
  position: absolute;
  top: -.5rem;
  width: 5rem;
}

.aigis-module__heading::first-letter {
  text-transform: uppercase;
}

.aigis-module__heading:hover a {
  position: relative;
}

.aigis-module__heading:hover a:before {
  content: "\00a7";
  position: absolute;
  right: 100%;
  bottom: 5px;
  font-size: 20px;
  color: #000;
  padding-right: 5px;
  padding-left: 5px;
}

.aigis-module__content {
  position: relative;
}

.aigis-module__content > p {
  font-size: 16px;
}

.aigis-module__actions {
  text-align: right;
}

/*
---
name: File path
category: body
---

```html
<div class="aigis-module__filepath">
  /assets/css/theme.css
</div>
```

*/

.aigis-module__filepath {
  display: block;
  text-align: right;
  top: -20px;
  font-size: 12px;
  color: #ADADAD;
  position: relative;
}

/*
---
name: Color palette
category: layout/special
tag: special
---

```html
<div class="aigis-contents__body">
  <h2 class="aigis-module__heading">colors</h2>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #428b1c;"></div><div class="aigis-colorPalette__label">#428b1c</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #55b5db;"></div><div class="aigis-colorPalette__label">#55b5db</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #5B594B;"></div><div class="aigis-colorPalette__label">#5B594B</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #6272a4;"></div><div class="aigis-colorPalette__label">#6272a4</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #666;"></div><div class="aigis-colorPalette__label">#666</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #66d9ef;"></div><div class="aigis-colorPalette__label">#66d9ef</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #66D9EF;"></div><div class="aigis-colorPalette__label">#66D9EF</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #6be5fd;"></div><div class="aigis-colorPalette__label">#6be5fd</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #728fcb;"></div><div class="aigis-colorPalette__label">#728fcb</div></div>
  <div class="aigis-colorPalette"><div class="aigis-colorPalette__color" style="background-color: #75715E;"></div><div class="aigis-colorPalette__label">#75715E</div></div>
</div>
```

*/
.aigis-colorPalette {
  margin-top: 5px;
}

.aigis-colorPalette__color {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 50%;
  margin-right: 5px;
}

.aigis-colorPalette__label {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  background: #fff !important;
}

.hamburger {
  position: absolute;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  left: 35px;
  top: 45px;
}

.hamburger:hover {
  opacity: .7
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 25px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ''
}

.hamburger-inner:before {
  top: -10px
}

.hamburger-inner:after {
  bottom: -10px
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before {
  background-color: #152935;
}

.hamburger .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .3s
}

.hamburger .hamburger-inner:before {
  transition: top .1s ease-in .34s, opacity .1s ease-in
}

.hamburger .hamburger-inner:after {
  transition: bottom .1s ease-in .34s, transform .3s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--active {
  left: 240px;
  top: 35px;
}

.hamburger--active .hamburger-inner {
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(225deg)
}

.hamburger--active .hamburger-inner:before {
  transition: top .1s ease-out, opacity .1s ease-out .14s;
  opacity: 0
}

.hamburger--active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease-out, transform .3s cubic-bezier(.215, .61, .355, 1) .14s;
  transform: rotate(-90deg)
}

.aigis-module__content > ul code, .aigis-module__content > p code, .aigis-contents__body > ul code, .aigis-module__content > p code, .aigis-module__content > h2 code, aigis-module__content > h3 code {
  padding: .1em .25em;
  border: solid 1px rgba(51,51,51,0.12);
  border-radius: .3em;
  background: #f5f2f0;
}

.aigis-container {
  box-sizing: border-box;
  width: auto;
  margin-right: auto;
}

.aigis-container:after {
  content: "";
  display: table;
  clear: both;
}

.aigis-contents {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 280px;
  padding-top: 20px;
  margin: 0 auto;
  transition: padding-left .2s ease-out;
}

.aigis-container.close .aigis-contents {
  padding-left: 0;
}

.aigis-contents__header {
  width: 100%;
  background: #f4f7fb;
  color: #152935;
  top: 0;
  padding: 20px 0 20px 120px;
  z-index: 10;
}

.aigis-contents__body {
  color: #152935;
  max-width: 1200px;
  padding: 50px 20px 20px;
  margin: 0 auto;
}

.aigis-contents__body > *:first-child {
  margin-top: 0;
}

.aigis-contents__body > ul {
  font-size: 16px;
}

.aigis-contents__body > p {
  margin-bottom: 1em;
}

.aigis-contents__body > h2 {
  font-size: 30px;
}

.aigis-contents__body > h3 {
  font-size: 24px;
}

/* Buttons */
.aigis-button {
  transition: 0.2s ease-out;
  cursor: pointer;
  background: none;
  border: 1px solid #152935;
  color: #152935;
  padding: 10px 20px;
  outline: none;
}

.aigis-button:hover,
.aigis-button.active {
  background: #3d70b2;
  color: #fff;
}

@media screen and (min-width: 960px) {
  .aigis-contents__body {
    padding-left: 120px;
  }

  .aigis-sidemenu {
    overflow-y: hidden;
  }

  .aigis-sidemenu:hover {
    overflow-y: scroll;
  }

}
